body {
    background-color: #26202D;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-top: 50vh;
}

.btn {
    color: white;
    font-weight: bold;
    background-color: orangered;
    border-radius: 1rem;
    border: none;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-family: 'Inzania', sans-serif;
    font-size: 3em;
    cursor: pointer;
}

.btn:hover {
    background-color: purple;
    transition: 0.6s;
}

.inp {
    background-color: lightblue;
    font-weight: bold;
    border: none;
    margin-left: 1rem;
    font-size: 2em;
    font-family: 'Inzania', sans-serif;
}

.inp:focus {
    background-color: salmon;
    transition: 0.6s;
}